<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <h1>Visualização</h1>
        </div>

        <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="http://127.0.0.1:8000/sensores/" class="btn btn-info">Voltar</a>
        </div>

        <div class="col-8 m-auto pt-4 pb-2 text-center">

            <strong>Nome: </strong>{{db.name}}<br>
            <strong>Descrição: </strong>{{db.description}}<br>
            <strong>Modelo: </strong>{{db.model}}<br>
            <strong>Potencia: </strong>{{db.potency}}<br>
            <strong>Duração: </strong>{{db.duration}}<br>
            <strong>Número de Serie: </strong>{{db.serial}}<br>
            <strong>Marca: </strong>{{db.brand}}<br>
        </div>
    </body>
</html>